body {
    display: flex;
    background-image: url("images/DiceBgImg.jpg");
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.players {
    display: flex;
    margin-top: 100px;
    width: 750px;
    height: 500px;
    align-content: center;
    background-color: whitesmoke;
    border: 1px solid orange;
}

.player-one {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    background-color: white;
}
.new-game {
    justify-content: center
}

.player-two {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 500px;
    background-color: whitesmoke;
}

.player-one-name {
    font-size: 30px;
    color:orangered;
    padding-left: 140px;
    padding-top: 70px;
}

.player-two-name {
    font-size: 30px;
    color:orangered;
    padding-left: 140px;
    padding-top: 70px;
}

.player-one-score, .player-two-score {
    padding-left: 190px;
    padding-top: 20px;
    font-size: 30px;
    color: blue;
}

.player-one-current, .player-two-current {
    flex-direction: row;
    background-color: red;
    text-align: center;
    font-size: 18px;
    color: white;
    width: 120px;
    height: 90px;
    padding-top: 40px;
    margin-left: 130px;
    margin-top: 130px;
}
.roll-dice {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 5px;
    margin-right: 15px;
}
.hold-dice {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 12px;
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-left: 2px;
}

.roll-dice:hover {
    background-color: lightgray;
    cursor: pointer;
}
.hold-dice:hover {
    background-color: lightgray;
    cursor: pointer;
}

.dice {
    position: absolute;
    left: 45%;
    top: 300px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.player-one-winner, .player-two-winner {
    position: absolute;
    left: 45%;
    top: 200px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(10, 10, 10, 0.10);
}

.new-game {
    position: absolute;
    font-size: 12px;
    color: darkgreen;
    left: 46%;
    top: 120px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}













